.AboutSection{
    display:flex;
    padding-top:5%;
    padding-bottom: 7%;
    gap:2%;
    align-items:stretch;
}
.AboutSection>span{
    width:50%;
}
.AboutSection .ImageContainer{
    position: relative;
}
.AboutSection img{
    max-width: 80%;
    max-height: 90%;
    position: absolute;
}
.AboutSection h1{
    margin-bottom: 2%;
}
@media (orientation: portrait) { /*pantalla vertical*/
    .AboutSection .ImageContainer img:first-child {
        bottom: 45%;
        left: 0%;
        z-index: 2;
    }
    .AboutSection .ImageContainer img:last-child {
        top: 45%;
        right: 0%;
        z-index: 1;
    }
}
@media (orientation: landscape) { /*pantalla horizontal*/
    .AboutSection .ImageContainer img:first-child {
        bottom: 37.5%;
        right: 45%;
        z-index: 2;
    }
    .AboutSection .ImageContainer img:last-child {
        top: 37.5%;
        left: 45%;
        z-index: 1;
    }
}