.App {
  display:grid;
  grid-template-areas:
    "head nav "
    "main main "
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 16fr 3fr;
  height: 100vh;
  margin: 16px;
}

.header{
  grid-area:head;
  align-items: center;
  width:100%;
  background-color: #ff0000; /* Color de fondo para visualizar mejor */
}

.nav{
  grid-area:nav;
  display: inline-flex;
  background-color: #37ff00; /* Color de fondo para visualizar mejor */
}

.main{
  grid-area:main;
  background-color: #0033ff; /* Color de fondo para visualizar mejor */
}

.footer{
  grid-area:footer;
  display: inline-flex;
  justify-content: space-around;
  background-color: #fbff00; /* Color de fondo para visualizar mejor */
}

.navigation-links{
  display: inline-flex;
  justify-content: space-around;
  width:100%;
}

