/*Variables globales para colores*/
:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-dark-salmon: #EE9972;
  --secondary-light-salmon: #FBDABB;
  --highlights-white: #EDEFEE;
  --highlights-black: #333333;
}

/*Grid + estilos generales*/
.App {
  display:grid;
  grid-template-areas:
    "head nav "
    "main main "
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 16fr 3fr;
  height: 100vh;
  margin: 16px;
  background-color: var(--highlights-white);
  color:var(--highlights-black);
}

/*Secciones del grid*/
.main, .footer {
  overflow: auto; /* Evita que el contenido sobrepase el área */
  white-space: normal; /* Permite que el texto se divida en varias líneas */
  word-wrap: break-word; /* Divide las palabras largas que no caben */
}
.header{
  grid-area:head;
  align-items: center;
  padding:0.3em;
}
.nav{
  grid-area:nav;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.main{
  grid-area:main;
}
.footer{
  grid-area:footer;
  display: flex;
  justify-content: space-around;
  gap: 0.2em;
  padding:0.3em;
}

/*footer*/
.footer > div {
  flex: 1 1 0; /* flex-grow, flex-shrink y flex-basis */
  min-width: 0; /* Permite que el div se ajuste correctamente */
  min-width: 0;
  padding:0.3em;
}

/*Nav*/
.navigation-links{
  display: inline-flex;
  justify-content: space-around;
  width:100%;
}

/*Main*/
.main>section{
  padding-right: 10vw;
  padding-left: 10vw;
}

/*Estilos y tamaños de letra generales*/
h1,h2,h3,p,a,li{
  white-space: normal;
}
h1{
  font-size: x-large;
  font-family: "Markazi Text";
  font-weight: 600;
}
h2{
  font-size: large;
  font-family: "Markazi Text";
  font-weight:500;
  margin-top:0;
}
h3{
  font-size: small;
  font-family: "Karla";
  font-weight:bold;
  margin:0;
}
p{
  font-size: small;
  font-family: "Karla";
  font-weight:500;
}
li a, li{
  font-size:xx-small;
  font-family: "Karla";
  font-weight:bolder;
  text-transform:uppercase;
  text-decoration: none;
  color: var(--primary-green);
}
ul{
  list-style-type: none;
  padding:0;
  margin:0.2em;
}
